@use 'colors' as *;
@use 'common' as *;

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 12px 48px;
    width: 147px;
    height: 52px;
    border-radius: 30px;
  
    line-height: 28px;
    white-space: nowrap;
    cursor: pointer;

    text-align: center;
    box-sizing: border-box;
    transition: 0.1s;
    font-weight: 500;
    font-size: 16px;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
  z

    &:disabled {
        opacity: 50%;
        box-shadow: none;
        cursor: auto;
    }
}

.ec-button {
    &.ec-button--primary {
        color: $neutral-color--off-white;
        background-color: $brand-color--default;
        box-shadow: $box-shadow--bottom;
        border: 1px solid #000;
        outline: none;

        &:hover {
            background-color: $brand-color--dark;
            box-shadow: none;
            outline: none;
        }

        &:disabled {
            outline: none;
            border: none;
            background: none;
            &:hover {
                background-color: $brand-color--default;
            }
        }

        &:focus-visible {
            border: none;
            outline: $brand-color--bg solid 8px;
            box-shadow: none;
        }
    }

    &.ec-button--ghost {
        color: $brand-color--default;
        background: none;
        box-shadow: none;
        border: none;
        outline: none;

        &:hover {
            color: $brand-color--dark;
            box-shadow: none;
            outline: none;
        }

        &:disabled {
            outline: none;
            border: none;
            background: none;
            &:hover {
                color: $brand-color--dark;
            }
        }

        &:focus-visible {
            border: none;
            outline: $brand-color--bg solid 8px;
            background-color: $neutral-color--line;
            box-shadow: none;
        }
    }
}