

    $brand-color--default: #002DE3;
    $brand-color--dark: #001A83;
    $brand-color--dark-mode: #375FFF;
    $brand-color--bg: #D2D5F9;

    $neutral-color--active: #0F1828;
    $neutral-color--dark: #152033;
    $neutral-color--body: #1B2B48;
    $neutral-color--weak: #A4A4A4;
    $neutral-color--disabled: #ADB5BD;
    $neutral-color--line: #EDEDED;
    $neutral-color--off-white: #F7F7FC;
    $neutral-color--white: #FFFFFF;

    $accent-color--danger: #E94242;
    $accent-color--warning: #FDCF41;
    $accent-color--success: #2CC069;
    $accent-color--safe: #7BCBCF;
